@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "_fonts";
@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";

//@import "../css/_nullstyle";
//@import "../css/_root";

//@import "../css/_style_header";

//@import "../css/_style_footer";

/*-------- index Start -------*/
//@import "../css/_slider_home";
//@import "../css/style";
/*-------- index End -------*/

/*-------- Page Index Start -------*/

/*-------- Header Start -------*/
.__container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__background {
  & img {
    width: 100%;
    height: 100vh;
  }
}

.header__map {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.header__aside-text{
  
}
.header__aside-nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0%;
  border-right: 1px solid #fff;
  height: 100vh;
  padding: 0 55px;
}
.header__logo {
}
.menu {
}
.menu_list {
}
.menu__item {
  text-align: center;
  margin-top: 40px;
}
.menu__text {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 3px;
  color: #ffffff;

  margin-top: 6px;
}
.time-date {
}
.geo {
}
/*-------- Header End -------*/

/*-------- Page Index End -------*/
