@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "_fonts";
@import "_libs";
//@import "_media";
//@import "_nullstyle";
@import "_vars";

@import "../css/_nullstyle";
@import "../css/_root";

@import "../css/_style_header";

@import "../css/_style_footer";

/*-------- index Start -------*/
@import "../css/_slider_home";
@import "../css/style";
/*-------- index End -------*/

/*-------- Page Start -------*/
/*-------- Page End -------*/