@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "_fonts";
@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";

//@import "../css/_nullstyle";
//@import "../css/_root";

//@import "../css/_style_header";

//@import "../css/_style_footer";

/*-------- index Start -------*/
//@import "../css/_slider_home";
//@import "../css/style";
/*-------- index End -------*/

/*-------- Page Index Start -------*/

/*-------- Header Start -------*/
.__container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__background {
  & img {
    width: 100%;
    height: 100vh;
    &::selection {
      background-color: unset;
      color: unset;
      pointer-events: none;
    }
  }
}

.header__map {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.header__aside-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: FiraSans;
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.07;
}
.header__aside-nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0%;
  border-right: 1px solid #fff;
  height: 100vh;
}
.header__logo {
  display: block;
  width: 100%;
  height: 191px;
  background-color: #4af6cd;
  &:hover {
    background-color: #0cf5bf;
  }
}
.header__title-logo {
  & p {
    font-family: FiraSans;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    transform: rotate(-90deg);
    position: relative;
    top: 114px;
  }
}

.menu {
  margin-top: 100px;
}
.menu_list {
}
.menu__item {
  text-align: center;
  margin-top: 40px;
}
.menu__text {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 3px;
  color: #ffffff;

  margin-top: 6px;
}
.time-date {
  margin-top: 20px;
  text-align: center;
  font-family: FiraSans;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  & span {
    margin-top: 17px;
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
  }
}
.geo {
  margin-top: 30px;
  text-align: center;
  & a {
    font-family: FiraSans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    color: #ffffff;
  }
  & li {
    list-style-image: url(/img/index/header/geo_marker.svg);
  }
}

.arrow-down {
  position: absolute;
  z-index: 1;
  left: 250px;
  bottom: 30px;
}

.swiper-column {
  position: absolute;
  z-index: 1;
  left: 440px;
  bottom: 37px;
}
.swiper {
}
.__container-swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
.__container-swiper-category {
  position: absolute;
  z-index: 3;
  right: 80px;
  top: 0;
  overflow: visible;
  height: 100%;
  max-width: 600px;
}

.swiper-slide {
}
.slider-home {
  position: relative;
  top: 60%;
}
.slider-item {
}
.slider-subtitle {
  font-family: FiraSans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.slider-title {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.slider-subtext {
  font-family: FiraSans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 48px;
}
.slider-text {
  font-family: FiraSans;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 86px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.slider-link {
  display: flex;
  justify-content: flex-end;
}
/*-------- Header End -------*/

/*-------- Page Index End -------*/
